<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <main class = "container">
        <h1>Staff List</h1>
        <table class="table table-striped">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Clarity</th>
                <th>Niceness</th>
                <th>Knowledgeable Score</th>
                <th>Comment</th>
            </tr>
            <tr th:each="staff : ${staff}">
                <td th:text="${staff.id}"></td>
                <td th:text="${staff.name}"></td>
                <td th:text="${staff.email}"></td>
                <td th:text="${staff.roleType}"></td>
                <td th:text="${staff.clarity}"></td>
                <td th:text="${staff.niceness}"></td>
                <td th:text="${staff.knowledgeableScore}"></td>
                <td th:text="${staff.comment}"></td>
            </tr>
        </table>
    </main>
</body>
</html>